<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg LiDARName)">
  <xacro:arg name="topicName" default="LiDAR_points"/>
  <xacro:arg name="frameName" default="lidar"/>
  <xacro:arg name="min_range" default="0.9"/>
  <xacro:arg name="max_range" default="130.0"/>
  <xacro:arg name="samples" default="360"/>
  <xacro:arg name="gaussianNoise" default="0.008"/>
  <xacro:arg name="hz" default="10"/>

  <xacro:property name="LiDARName" value="$(arg LiDARName)"/>
  <xacro:property name="topicName" value="$(arg topicName)" />
  <xacro:property name="frameName" value="$(arg frameName)" />
  <xacro:property name="min_range" value="$(arg min_range)" />
  <xacro:property name="max_range" value="$(arg max_range)" />
  <xacro:property name="samples" default="$(arg samples)"/>
  <xacro:property name="hz" value="$(arg hz)" />
  <xacro:property name="gaussianNoise" value="$(arg gaussianNoise)" />


  <xacro:include filename="$(find velodyne_description)/urdf/LiDAR-80.xacro"/>
  <!--                          User configuartion                                          -->
  <xacro:laserModel
          parent="base_link"
          name="${LiDARName}"
          topic="${topicName}"
          samples="${samples}"
          noise="${gaussianNoise}"
          hz="${hz}"
          frame="${frameName}" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:laserModel>


  <!--                        User configuartion                                          -->


<!--  &lt;!&ndash; Base Footprint &ndash;&gt;-->
  <link name="base_footprint" />
  <!-- Base Link -->
  <joint name="footprint" type="fixed" >
   <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 0 " rpy="0 0 0" />
  </joint>
  <link name="base_link" >
    <visual>
      <geometry>
        <box size="0.5 0.5 0.1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.5 0.5 0.1" />
      </geometry>
    </collision>
  </link>
</robot>
