<launch>
  <arg name="RobotName" value="excavator"/>
  <param name="robot_description"  command="$(find xacro)/xacro --inorder '$(find excavator)/urdf/example.urdf.xacro'"/>



<!--  <node name="goundplane_model" pkg="gazebo_ros" type="spawn_model" args="-sdf -database models -model quanzhou" output="screen" />-->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param /robot_description -model excavator  -x 0 -y 0 -z 0.5 " output="screen" />



  <rosparam file="$(find excavator)/config/joint_names_excavator.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner"  respawn="true"
        output="screen"
        args="
          joint_state_controller
          WaistJoint_position_controller
          ArmBaseJoint_position_controller
          Arm12Joint_position_controller
          Arm23Joint_position_controller"/>



  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />



  <arg name="rviz" default="true"/>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find excavator)/config/display.rviz" />
</launch>